<html><head>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" media="all" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/style1.css') }}" media="all" rel="stylesheet">
		<meta charset="utf-8">
    <title> Popular Opinion </title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body>
    <div class = "container">
		<div class="pb-2 mt-4 mb-2 border-bottom">
			<h3 onclick="window.location.href='{{ url_for('index',page=1) }}';"> ARGUPEDIA </h3> </div>
        <h6><small> Create a new post </small></h6>
        <button type="button" class = "btn btn-light float-end btn-space" onclick="window.location.href='{{ url_for('logout') }}';"> Logout </button>


	<div class = "center">
        <div class="challenge"> POPULAR OPINION SCHEME </div>
		<br>
                <form action="/createPopularPost" class="form-register" method="post">
                <div class="form-wrapper">
               <label class="label" name="topic" id="topic1"> {{ topic }} </label>
                <input type="hidden" name="topic" value= "{{ topic }}" id="topic" />
                </div>
				<br>
                 <div class="form-wrapper">
                <label for  = "text" class="label" > Premise: </label>
                <input type="text" class="form-control" name = "premise" id="premise" required>
                </div>
				<br>
				<div class="form-wrapper">
                <label for  = "text" class="label"> Conclusion: </label>
                <input type="text" class="form-control" name = "conclusion" id="conclusion" required>
                </div>
				<br>
				<div class="form-wrapper">
                <button type="submit" class = "btn btn-light btn-space" onclick="createpost()"> Create Post
						<i class="zmdi zmdi-arrow-right"></i>
				</button>
                <button type="submit" class = "btn btn-light btn-space" onclick="location.href={{ url_for('index', page=1) }}" class="btn btn-primary" type="button">
         		Cancel</button>
                    </div>
				<br>
				<div class="form-wrapper">
            </div>
                </form>
	</div>
    </form>
    </div>
</body></html>

<style>
	.center {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  body {
 background-image: url( {{ url_for('static', filename='images/background2.jpeg') }});
}

.challenge {
  color: #FFFFFF;
  text-align: center;
  font-size: calc(1.275rem + .3vw);
  margin-top: 20.5rem;

  line-height: 1.2;
   }

.label {
font-family: "Poppins-Regular";
  color: #FFFFFF;
  text-align: center;

  }
  h6{
  color: #FFFFFF;
  }
</style>

<script>

  function createpost(){
    $.ajax({
            url: '/createPopularPost',
            data: $('form').serialize(),
            type: 'POST',
            success: function(response) {
                console.log(response);
            },
            error: function(error) {
                console.log(error);
            }
        });
   };
</script>